.home {  
    display: flex;
    .homeContainer {
     
        flex: 6;
        padding-top: 7px;

        .widgets {
            display: flex;
            padding: 20px;
            gap: 20px;
        }
    }
    
}